<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
        <title>Tinyarchive Tracker</title>
        <script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="static/site.js"></script>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
    </head>
    <body>
        <div id="tasks">
            <div id="tasks_available"></div>
            <div id="tasks_assigned"></div>
            <div id="tasks_finished"></div>
        </div>
        <br style="clear: both;" />
        <div id="users">
            <div id="users_alltime"></div>
            <div id="users_day"></div>
        </div>
    </body>
</html>
